/build*/
/build-vcpkg/
/vcpkg_installed/
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/install_manifest.txt
/compile_commands.json
.clangd
*.o
*.a
*.so
*.so.*
*.dll
*.dylib
*.exe
.cache/
.clangd/
.idea/
.vscode/
/docs
/Testing
